
.main{
    
}
.links{
    text-decoration: none;
}
hr{
    display: flex;
    width: 65%;
    align-self: center;
}
.homeImg{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.homeCard{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.sectionGroup{
    margin-top: 10px;
}
.login{
    margin-top: 12px;
}
.newsletter{
    margin-top: 50px;
    
}

.card{
    margin-left: 5px;
    margin-right: 5px;
}
.newsLetter{
    margin-top: 20px;
    margin-bottom: 10px;
}
.input{
    margin-top: 10px
}
.aboutContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.aboutCard{
  max-width: 75%;
}
.aboutTitle{
    justify-content: right;
}

.aboutImg{
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.buyButton{
/* margin-left: 35%; */
text-align: center;
}
.webFoot{
    background-color: #000080;
    padding-top: 10px;
}
.contactImg{
    max-width: 250px;
}
.contactSection{
    margin-top: 20px;
}
ul{
    list-style: none;
}
.contactSectText{
    position: relative;
    top: 60px;

}

body{
    background-image: url(./img/pawPaper.jpg);
    background-size: cover;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 750px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.95s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@media only screen and (max-width:400px){

}

